#weather-hourly-forecast {

  background: hsl(340, 50%, 40%);
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;

}



#hourly-forecast-container {

  background: hsla(130, 50%, 70%, 30%);
  height: 95%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: .5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-align: center;



  div {

    background: grey;
    padding-bottom: .5rem;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 0 !important;

  }

}

.hourly-info:not(.hourly-timestamp):nth-of-type(1) {

  height: 30%;
  border-bottom: 1px solid #666 !important;

}

.hourly-info:nth-of-type(2),
.hourly-info:nth-of-type(3),
.hourly-info:nth-of-type(4) {

  height: 4.5rem;

}

.hourly-info {

  background: hsla(240, 70%, 80%, 50%);
  width: 14rem;
  padding: .5rem;
  margin: 0;



  figure {

    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(hsl(240, 30%, 65%),
        hsl(240, 30%, 50%));
    width: 100% !important;
    height: 100%;

    img {

      width: 6rem;
      filter: drop-shadow(2px 2px 3px black);

    }

    figcaption {

      position: absolute;
      top: 0rem;
      font-weight: 800;
      background: rgba(0, 255, 255, .5);
      text-align: center;
      width: 100%;

    }

  }



  h4,
  p {

    margin: 0;

  }

  h4 {

    border-bottom: 1px solid black;
    margin-bottom: 1rem;

  }

  p {

    font-size: .85em;

  }

}

.hourly-info:nth-of-type(1) {

  padding: 0;

}

.hourly-timestamp {

  background: transparent;
  text-align: center;



  h4 {

    border: none;
    margin: 0;

  }

}



@media (min-width: 768px) {

  #hourly-forecast-container {

    overflow: hidden;
    width: 97%;
    column-gap: 0;



    div {

      width: 19.6%;
      row-gap: 1rem;

    }

  }



  .hourly-info {

    width: 100%;

  }

}