#weather-info {

  height: calc(100% - 7.5%);
  flex-basis: 100%;
  display: none;
  position: relative;
  bottom: 0;



  header {

    height: 35%;
    background: black;
    padding: .5rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;



    section {

      background: transparent;
      height: 65%;

    }

  }

}



@media (min-width: 768px) {

  #weather-info {

    height: 100%;
    flex-basis: 70%;
    display: block;

  }

}