#weather-request-history {

  background: hsl(317, 44%, 27%);
  height: calc(100% - 12%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;



  ul {

    background: white;
    width: 100%;
    height: 100%;
    padding: 0;
    list-style-type: none;
    overflow-y: scroll;



    li {

      padding: 1rem;
      // background: hsl(240, 30%, 75%);
      font-weight: bold;
      border-bottom: 1px solid black;

    }

    li:first-of-type {

      background: hsl(240, 30%, 75%);

    }

    li:last-of-type {

      border: none;

    }

  }

}



// @media (min-width: 768px) {}