#weather-hourly-forecast {

  background: hsl(340, 50%, 40%);
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;

}



#hourly-forecast-container {

  background: hsla(130, 50%, 70%, 30%);
  height: 95%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: .5rem;
  // padding: .5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-align: center;



  div {

    background: grey;
    padding: 0 6rem;
    height: 100%;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

  }

}



@media (min-width: 768px) {

  #hourly-forecast-container {

    overflow: hidden;
    width: 97%;
    column-gap: 0;



    div {

      padding: 0;
      width: 19.6%;

    }

  }

}