#weather-hourly-forecast {

  background: hsl(340, 50%, 40%);
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;

}



#hourly-forecast-container {

  background: hsla(130, 50%, 70%, 30%);
  height: 95%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: .5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-align: center;



  div {

    background: grey;
    padding: .5rem;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

  }

}

.hourly-info {

  background: hsla(240, 70%, 80%, 50%);
  width: 14rem;
  padding: .5rem;


  h4,
  p {

    margin: 0;

  }

  h4 {

    border-bottom: 1px solid black;
    margin-bottom: 1rem;

  }

}

.hourly-hour {

  background: transparent;
  text-align: center;

  h4 {

    border: none;
    margin: 0;

  }

}



@media (min-width: 768px) {

  #hourly-forecast-container {

    overflow: hidden;
    width: 97%;
    column-gap: 0;



    div {

      width: 19.6%;
      row-gap: 1rem;

    }

  }



  .hourly-info {

    width: 100%;

  }

}