#weather-info {

  height: 100%;
  flex-basis: 100%;
  display: none;



  header {

    height: 35%;
    background: black;
    padding: .5rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;



    section {

      background: transparent;

    }

  }

  section {

    height: 65%;
    background: hsl(340, 50%, 40%);

  }

}



@media (min-width: 768px) {

  #weather-info {

    height: 100%;
    flex-basis: 70%;
    display: block;

  }

}