#weather-info {

  height: 100%;
  flex-basis: 100%;
  display: none;



  header {

    height: 35%;
    background: black;
    padding: 1em;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;



    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {

      color: white;
      margin: 0;
      display: inline-block;
      padding: .5rem;

    }



    section {

      width: 100%;
      background: black;

    }

    section:first-of-type {

      height: 3rem;

    }

    section:last-of-type {

      display: flex;
      justify-content: space-between;

    }



    .weather-info-label {

      padding: 0;

    }



    #location-val {

      width: 100%;

    }



    #temp-info {

      display: flex;
      flex-direction: column;
      align-items: center;
      width: 8rem;
      background: grey;



      #temp-unit-labels {

        display: flex;
        width: 100%;



        .temp-unit {

          padding: .25rem;
          flex-basis: 50%;
          background: blue;
          text-align: center;
          border: 1px solid black;

        }

      }

      #current-temp-val {

        font-size: 1.5rem;

      }

    }

    #wind-info {

      display: inline-flex;
      flex-direction: column;
      margin: 0 1rem;



      .weather-info-label {

        padding: 0;

      }

    }

  }

  section {

    height: 65%;
    background: hsl(340, 50%, 40%);

  }

}



@media (min-width: 768px) {

  #weather-info {

    height: 100%;
    flex-basis: 70%;
    display: block;



    header {

      height: 35%;
      background: black;



      #temp-info {

        #current-temp-val {

          font-size: 2.5rem;

        }

      }

    }

    section {

      height: 65%;
      background: hsl(340, 50%, 40%);

    }

  }

}