#weather-info {

  height: 100%;
  flex-basis: 100%;
  display: none;



  header {

    height: 35%;
    background: black;
    padding: .5rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;



    section {

      background: transparent;

    }

  }

  section {

    height: 65%;
    background: hsl(340, 50%, 40%);

  }

}



#location-info {

  flex-basis: 2rem;



  #location-val {

    font-size: 2rem;

  }

}

#main-info {

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-y: scroll;
  flex-basis: calc(100% - 2rem);



  .main-column {

    background-color: hsla(0, 100%, 50%, 40%); //Testing Only. Remove Later.

  }

  #main-col-left {

    flex-basis: 40%;
    height: 100%;

  }

  #main-col-right {

    flex-basis: 52.5%;
    display: flex;
    column-gap: 1rem;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;



    div {

      background: grey; //Testing Only. Remove Later.
      //Developer Note:
      /*

        - Use for setting up grid on "#main-col-right" element
          in viewports with a width >= 768 pixels.

      */
      padding: .2rem;

    }

  }



  #temp-info {

    display: flex;
    flex-direction: column;
    align-items: center;
    background: grey;
    justify-content: space-around;
    height: 100%;



    #current-temp-label {

      text-align: center;
      width: 100%;
      padding: 0 .5rem;

    }



    #temp-unit-labels {

      display: flex;
      width: 100%;

    }

    .temp-unit {

      padding: .25rem;
      flex-basis: 50%;
      background: blue;
      text-align: center;
      border: 1px solid black;
      border-left: none;

    }

    #temp-unit-fahrenheit {

      border-right: none;

    }



    #current-temp-val {

      width: 100%;
      text-align: center;
      font-size: 3rem;

    }

  }

  #wind-info {

    display: inline-flex;
    flex-direction: column;

  }

}



.info-label,
.info-val,
.temp-unit {

  color: white;
  margin: 0;
  display: block;

}

.info-label {

  margin: 0;

}



@media (min-width: 768px) {

  #weather-info {

    height: 100%;
    flex-basis: 70%;
    display: block;

  }



  #main-info {

    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: space-around;



    #main-col-left {

      flex-basis: 10rem;

    }

    #main-col-right {

      flex-basis: 45%;
      padding: 0 1.5rem;
      row-gap: 0;

    }

  }

}