// $app-bg: hsl(220, 60%, 70%);
$app-bg: linear-gradient(60deg,
    hsl(0, 0%, 0%),
    hsl(240, 50%, 18%) 20%,
    hsl(300, 50%, 13%),
    hsl(300, 50%, 13%),
    hsl(240, 50%, 18%) 80%,
    hsl(0, 0%, 0%),
  );



#app-container,
#app-container * {

  box-sizing: border-box;

}

#app-container {

  height: 100dvh;
  width: 100dvw;
  background: $app-bg !important;
  display: flex;
  align-items: center;
  justify-content: center;

}



@media (min-width: 768px) {

  #app-container {

    border: none !important;

  }

}