#interface-tabs {

  width: 100%;
  // background: grey;
  height: 7.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  // overflow-y: scroll;



  div {

    height: 100%;
    background: hsl(280, 50%, 30%);
    width: 50%;

  }

  div:hover {

    background: hsl(280, 70%, 60%);

  }

}



@media (min-width: 768px) {

  #interface-tabs {

    display: none;

  }

}