$pg-background: hsl(0, 50%, 50%);





#temp-content {

  margin: .5em;
  padding: 0;

}



// NEW CODE
body {

  margin: 0;

}



#app-container,
#app-container * {

  box-sizing: border-box;

}

#app-container {

  height: 100dvh;
  width: 100dvw;
  background: hsl(220, 50%, 60%);
  display: flex;
  align-items: center;
  justify-content: center;

}



#weather-interface {

  width: 100%;
  height: 100%;
  background: hsl(220, 50%, 30%);
  display: flex;
  flex-direction: column;

  #weather-request-sidebar {

    height: 100%;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;



    #weather-request-form {

      background: hsl(40, 50%, 40%);
      height: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      label {

        text-align: center;

        input {

          display: block;
          margin: .5rem 0;

        }

        input:focus {

          outline: none;

        }

      }

      button {

        margin-top: .5rem;

      }

    }



    #weather-request-history {

      background: hsl(140, 50%, 40%);
      height: 70%;

    }

  }

  #interface-tabs {

    width: 100%;
    // background: grey;
    height: 7.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    // overflow-y: scroll;



    div {

      height: 100%;
      background: hsl(280, 50%, 30%);
      width: 50%;

    }

    div:hover {

      background: hsl(280, 70%, 60%);

    }

  }

  #weather-info {

    height: 100%;
    flex-basis: 100%;
    display: none;



    header {

      height: 30%;
      background: black;

    }

    section {

      height: 70%;
      background: hsl(340, 50%, 40%);

    }

  }

}



@media (min-width: 768px) {

  #app-container {

    border: 25px double hsl(220, 50%, 30%);

  }

  #weather-interface {

    width: 70rem;
    height: 40rem;
    background: hsl(220, 50%, 30%);
    display: flex;
    flex-direction: row;


    #weather-request-sidebar {

      height: 100%;
      flex-basis: 30%;
      display: flex;


      #weather-request-form {

        background: hsl(40, 50%, 40%);

      }

      #weather-request-history {

        background: hsl(140, 50%, 40%);

      }

    }

    #weather-info {

      height: 100%;
      flex-basis: 70%;
      display: block;



      header {

        height: 35%;
        background: black;

      }

      section {

        height: 65%;
        background: hsl(340, 50%, 40%);

      }

    }

    #interface-tabs {

      display: none;

    }

  }

}