@import "./_tempContent";
@import "./_appContainer";

@import "./features/appInterface/_weatherInterface";
@import "./features/messageOverlay/_messageOverlay";
@import "./features/interfaceTabs/_interfaceTabs";

@import "./features/weatherInfo/_weatherInformation";
@import "./features/weatherInfo/_weatherHeader";
@import "./features/weatherInfo/_hourlyForecast";

@import "./features/weatherRequest/_weatherRequestSidebar";
@import "./features/weatherRequest/_weatherRequestForm";
@import "./features/weatherRequest/_weatherRequestHistory";



$pg-background: hsl(0, 50%, 50%);



body {

  margin: 0;

}



// UTILITY CLASSES
.utility-dev-highlight {

  background: orange;

}