@import "./_tempContent";

@import "./_appContainer";

@import "./components/_weatherInterface";
@import "./components/_weatherInformation";
@import "./components/_interfaceTabs";
@import "./components/_weatherRequestSidebar";



$pg-background: hsl(0, 50%, 50%);



body {

  margin: 0;

}